<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /web250-mvc/public/
    
    # Redirect to index.php if file/directory doesn't exist
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?/$1 [L,QSA]
</IfModule>
